PLATFORM="KokomiAPI-01"
LOG_LEVEL="debug"

API_URL=""
API_TOKEN=""

LOG_DIR="/app/logs"
TEMP_DIR="/app/temp"
DATA_DIR="/app/data"
# Mysql configuration
MYSQL_HOST="host.docker.internal"
MYSQL_PORT=3306
MYSQL_USERNAME="root"
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows"

# Redis configuration
REDIS_HOST="host.docker.internal"
REDIS_PORT=6379
REDIS_PASSWORD=""

# RabbitMQ configuration
RABBITMQ_HOST="host.docker.internal"
RABBITMQ_USERNAME="root"
RABBITMQ_PASSWORD=""

WG_API_TOKEN=""
LESTA_API_TOKEN=""