__pycache__/
.venv/
*.pyc
.env.dev
.env.prod
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/.vs/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/bin/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/obj/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/obj/KokomiPJ_Dashboard_BLL.csproj.nuget.dgspec.json
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/obj/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/bin/
