.env.dev
.env.prod
__pycache__/
*.pyc
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/.vs/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/bin/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard/obj/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/obj/KokomiPJ_Dashboard_BLL.csproj.nuget.dgspec.json
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/obj/
dashboard/KokomiPJ_Dashboard/KokomiPJ_Dashboard_BLL/bin/
poc/KokomiPJ_ES/KokomiPJ_Es/.vs/
poc/KokomiPJ_ES/KokomiPJ_Es/bin/
poc/KokomiPJ_ES/KokomiPJ_Es/obj/
poc/KokomiPJ_ES/KokomiPJ_Es_BLL/obj/
poc/KokomiPJ_ES/KokomiPJ_Es_BLL/bin/
