PLATFORM="KokomiAPI-01"
LOG_LEVEL="debug"

MASTER_SERVER_HOST=""
MASTER_SERVER_TOKEN=""
API_ROOT_TOKEN="root"
API_USER_TOKEN="user"

LOG_DIR="/app/logs"
DATA_DIR="/app/data"
SQLITE_DIR="/app/data/db"

MYSQL_HOST="host.docker.internal"
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=""
MYSQL_USER="root"
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows"

REDIS_HOST="host.docker.internal"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DATABASE=0

RABBITMQ_HOST="host.docker.internal"
RABBITMQ_USERNAME="root"
RABBITMQ_PASSWORD=""