PLATFORM="KokomiAPI-01"
LOG_LEVEL="debug"

API_URL=""
API_TOKEN=""
BIND_HOST="127.0.0.1"

LOG_DIR="/app/logs"
TEMP_DIR="/app/temp"
DATA_DIR="/app/data"

MYSQL_HOST="host.docker.internal"
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=""
MYSQL_USER="root"
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows"

SQLITE_PATH="default"

REDIS_HOST="host.docker.internal"
REDIS_PORT=6379
REDIS_PASSWORD=""

RABBITMQ_HOST="host.docker.internal"
RABBITMQ_USERNAME="root"
RABBITMQ_PASSWORD=""

WG_API_TOKEN=""
LESTA_API_TOKEN=""