PLATFORM="KokomiAPI-01"
LOG_LEVEL="debug"
DEV_MODE=0

API_ROOT_TOKEN="root"
API_USER_TOKEN="user"

SQLITE_DIR=""

MYSQL_HOST="localhost"
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DATABASE=0

RABBITMQ_HOST="localhost"
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""